# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SheCodes Weather App</title>
</head>

<body>
    <a href="https://www.shecodes.io/" target="_blank">
        <img src="images/SheCodes-logo.png" class="logo" alt="SheCodes Logo" />
    </a>
    <form>
        <input type="search" placeholder="Enter a city" required />
        <input type="submit" value="Search" />
    </form>
    <h1> San Francisco
        <span class="degrees-max"> <strong>13ºC</strong></span>
    </h1>
    <ul type="none">
        <li>
            <span>
                Tuesday 21:30, broken
                clouds
            </span>
        </li>
        <li>
            Humidity:
            <strong>76%</strong> Wind:
            <strong> 3.09 km/h</strong>
        </li>
        <br />
        <div class="weather-container"></div>
        <li>Tue 🌤
            <div class="weather-forecast">
                <span class="forecast-max"><strong>17ºC</strong></span>
                <span class="forecast-min">/ 13ºC</span>
            </div>
        </li>
        <li>Wed ⛅️
            <div class="weader-forecast">
                <span class="forecast-max">
                    <strong>15º</strong></span>
                <span class="forecast-min"> / 11º</span>
            </div>
        </li>
        <li>Thu 🌧
            <div class="ThuesdayForecast">
                <span class="forecast-max">
                    <strong>14º</strong> </span>
                <span class="forecast-min">/ 11º</span>
            </div>
        </li>
        <li>Fri 🌧
            <div class="weader-forecast">
                <span class="forecast-max"><strong>12º</strong></span>
                <span class="forecast-min"> / 10º</span>
            </div>
        </li>
        <li>Sat ⛈
            <div class="weader-forecast">
                <span class="forecast-max"><strong>12º</strong></span>
                <span class="forecast-min"> / 8º</span>
            </div>
        </li>
        </div>
    </ul>
    <br />
    <footer>
        This project was coding by Shirly B. and is on <a href="https://www.github.com/">Github</a> and <a
            href="https://www.netlify.com/">hosted on Netlify</a>
    </footer>
</body>

</html>